<!--==========================
      Asset Management Section
    ============================-->
    <section id="services">
        <div class="container">
  
          <header class="section-header wow fadeInUp">
            <h3>Asset Management</h3>
            <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-monitor-outline"></i></div>
              <h4 class="title"><a [routerLink]= "['hardsoft']" href="">Hardware / Software Request</a></h4>
              <p class="description">Request for new IT Hardware or Software like PC, Printer, Laptop, MS Office, Adobe Reader etc for self or on behalf of vendor team</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-folder-outline"></i></div>
              <h4 class="title"><a [routerLink]= "['sharedfolder']" href="">Shared Folder Access</a></h4>
              <p class="description">Request for new or exising Shared Folder which will ease the sharing of files and documents within your team members as per requirement</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-usb"></i></div>
              <h4 class="title"><a [routerLink]= "['usb']" href="">USB / Pen Drive Access</a></h4>
              <p class="description">USB Access is blocked in SCI as per IT Policy. In case of any important work which require usage of USB Pendrive, request can be raised</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-email-outline"></i></div>
              <h4 class="title"><a [routerLink]= "['webmail']" href="">Webmail Access</a></h4>
              <p class="description">You can access your office mail from your mobile or laptop sitting at home. Request for webmail access to work without interruption</p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-cloud-outline"></i></div>
              <h4 class="title"><a [routerLink]= "['remote']" href="">Citrix / VPN Access</a></h4>
              <p class="description">Access your office applications like SAP, Afsys, Danaos using Citrix. Access your office PC from any remote place using VPN. </p>
            </div>
            <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="icon"><i class="ion-ios-people-outline"></i></div>
              <h4 class="title"><a [routerLink]= "['cancel']" href="">Return IT Assets</a></h4>
              <p class="description">Dont forget to return your IT Assets when you are leaving SCI. Raise your request & our Helpdesk will collect if from your desk</p>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->