<section>
  {{ ApprovalMessage}}
  
  <table mat-table [dataSource]="MyDataSource" class="my-table mat-elevation-z8">
  
      <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef>Sr No.</th>
          <td mat-cell *matCellDef="let element"> {{element.position}}</td>
      </ng-container>
  
      <ng-container matColumnDef="process_type">
        <th mat-header-cell *matHeaderCellDef>Process Type</th>
        <td mat-cell *matCellDef="let element"> {{element.process_type}}</td>
      </ng-container>
  
      <ng-container matColumnDef="process_id">
          <th mat-header-cell *matHeaderCellDef>Process ID</th>
          <td mat-cell *matCellDef="let element"> {{element.process_id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Descrption</th>
          <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </ng-container>
  
      <ng-container matColumnDef="req_by">
        <th mat-header-cell *matHeaderCellDef>Requested By</th>
        <td mat-cell *matCellDef="let element"> {{element.req_by}} </td>
      </ng-container>
  
      <ng-container matColumnDef="assign_date">
          <th mat-header-cell *matHeaderCellDef>Raised On</th>
          <td mat-cell *matCellDef="let element"> {{element.assign_date}}</td>
      </ng-container>
  
      <ng-container matColumnDef="approver_comments">
        <th mat-header-cell *matHeaderCellDef>Approver Comments</th>
        <td mat-cell *matCellDef="let element"> {{element.approver_comments}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
              <!-- <button mat-button color="primary" (click)="redirectToDetails(element)">
              </button> -->
              <a (click)="redirectToDetails(element)">Approve / Reject</a>
          </td>
      </ng-container>
         
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
  </table>
  </section>