<section>
<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
      <!-- Position Column -->
      <ng-container matColumnDef="process_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Type</th>
        <td mat-cell *matCellDef="let apptestlist"> {{apptestlist.process_type}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="process_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Id</th>
        <td mat-cell *matCellDef="let apptestlist"> {{apptestlist.process_id}} </td>
      </ng-container>

      <!-- Requested By Column -->
      <ng-container matColumnDef="req_by">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested By</th>
        <td mat-cell *matCellDef="let apptestlist"> {{apptestlist.req_by}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let apptestlist"> {{apptestlist.description}} </td>
      </ng-container>
  
      <!-- Approvers Comment Column -->
      <ng-container matColumnDef="approver_comments">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Approver Comments</th>
        <td mat-cell *matCellDef="let apptestlist"> {{apptestlist.approver_comments}} </td>
      </ng-container>
  
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let apptestlist"> 
          The symbol for {{apptestlist.description}} 
        </td>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
              matRipple 
              class="element-row" 
              [class.expanded]="expandedElement == row"
              (click)="expandedElement === row ? expandedElement = null : expandedElement = row"></mat-row>
      <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
              [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
              style="overflow: hidden"> 
      </mat-row>
    </mat-table>
  </div>
</section>