<!--==========================
      Account Section
    ============================-->
<section id="about">
  <div class="container">
    <header class="section-header">
      <h3>My Account</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </header>

    <div class="row about-cols">
      <div class="col-md-3 wow fadeInUp">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-mission.jpg" alt="" class="img-fluid" />
            <div class="icon"><i class="ion-ios-person-outline"></i></div>
          </div>
          <h2 class="title">
            <a [routerLink]="['profile']" href="#">My Profile</a>
          </h2>
          <p>
            View your personal profile details as per SCI's records fetched from SAP
          </p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInUp" data-wow-delay="0.1s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-plan.jpg" alt="" class="img-fluid" />
            <div class="icon"><i class="ion-ios-list-outline"></i></div>
          </div>
          <h2 class="title">
            <a [routerLink]="['my-assets']" href="#">My Assets</a>
          </h2>
          <p>
            List of all the IT Assets like Desktop, Printer, 
            Scanner, Laptop registered on your name.
          </p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInUp" data-wow-delay="0.2s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid" />
            <div class="icon"><i class="ion-ios-eye-outline"></i></div>
          </div>
          <h2 class="title">
            <a [routerLink]="['myrequests']" href="#">My Requests</a>
          </h2>
          <p>
            List of all the requests made by you like
            IT Hardware or Software, Shared Folder, Webmail,
            Citrix
          </p>
        </div>
      </div>

      <div class="col-md-3 wow fadeInUp" data-wow-delay="0.3s">
        <div class="about-col">
          <div class="img">
            <img src="assets/img/about-vision.jpg" alt="" class="img-fluid" />
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
          </div>
          <h2 class="title"><a href="#">My CRs</a></h2>
          <p>
            List of all the Change Requests raised by you for SAP Modules like FI, MM, HCM, Basis
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #about -->
